block vars

section.p-section.mod-bg-img#about
  .u-container.p-about
    +head('電子契約サービスとは')
    .p-lead.u-text-center.u-mb--4.u-mb-xs--0.u-fade.u-anime
      | いままで紙と印鑑で取り交わされていた<br class="u-visible-xs">契約書の手続き。<br>電子契約サービスは、郵送や押印などの<br class="u-visible-xs">作業をすることなく<br class="u-hidden-xs">パソコン上の<br class="u-visible-xs"><span class="u-strong">電子データのみで契約を結ぶことができるサービスです。</span><br>
      | この電子契約は「<a href="#" class="js-toggle-modal">民事訴訟法第228条<br class="u-visible-xs">第1項、第4項</a>」により、<br>
      | <span class="u-strong">法的に書面による契約と同様の証拠力</span>を認められています。
    .u-text-center.u-mb--5.u-mb-xs--0
      .p-about_detail
        .u-hidden-xs
          +about--detail
        .u-visible-xs
          +about--detail_sp
