section.p-section.mod-bg-orange
  .p-conv
    .u-container
      h2.u-fs--30.u-mb--4 契約締結を<br class="u-visible-xs">スピーディに完結。
      .p-conv__button.u-mb--3
        a(href="https://biz.applynow.jp/inqury/")
          +button('お問い合わせ・資料請求','mod-bg-white mod-large')
      .p-conv__logo
        img(src=path+"assets/img/common/logo--white.svg" alt="ApplyNow")
