block vars

section.p-main
  .u-container
    .p-main-inner
      .p-main-detail
        h2.p-main-detail__catch.u-mb--7.u-mb-xs--0 契約締結を<br>スピーディに完結。
        h1.p-main-detail__title.u-mb--5.u-mt-xs--5
          p.u-fs--18.u-fs-xs--20 電子署名サービス
          p.u-fs--32.u-fs-xs--22 ApplyNow電子契約（製品名）
        .p-main-detail__button
          a(href="https://biz.applynow.jp/inqury/")
            +button('お問い合わせ・資料請求','mod-large')
