block vars

.modal-overlay.js-toggle-modal
.modal
  .modal-inner
    .modal-closeAct.js-toggle-modal
      .modal-icon
    h2 民事訴訟法第228条
    p 1 文書は、その成立が真正であることを証明しなければならない。
    p 4 私文書は、本人又はその代理人の署名又は押印があるときは、真正に成立したものと推定する。
    .modal-closeText.js-toggle-modal
      .u-row.mod-align-center
        .modal-icon
        .modal-closeText__text 閉じる
