block vars

.p-why
  .u-container
    h3.p-why__head.u-mb--6.u-mb-xs--3.u-fade.u-anime こんな課題で<br class="u-visible-xs">困っていませんか？
    .u-row.u-fade.u-anime
      .u-col--4.u-mb-xs--3
        .p-why-item
          .p-why-detail
            .p-why-detail__head 契約書保管は<span class="u-strong u-fs--24 u-fs-xs--20">スペースをとるし</span><br>見返すために<span class="u-strong u-fs--24">探すのも大変</span>
            .p-why-detail__img
              img(src=path+"assets/img/about/why--1.png" alt="")
      .u-col--4.u-mb-xs--3
        .p-why-item
          .p-why-detail
            .p-why-detail__head 郵送や押印などの手続きで<br><span class="u-strong u-fs--24 u-fs-xs--20">締結までに時間がかかる…</span>
            .p-why-detail__img
              img(src=path+"assets/img/about/why--2.png" alt="")
      .u-col--4
        .p-why-item
          .p-why-detail
            .p-why-detail__head 紙代、インク代、印紙税などの<br><span class="u-strong u-fs--24 u-fs-xs--20">コストがかさむ</span>
            .p-why-detail__img
              img(src=path+"assets/img/about/why--3.png" alt="")
  .p-why-answer
    .u-container
      .u-text-center.u-mt--5.u-mt-xs--0
        p ApplyNow電子契約(製品名)で<br><span class="u-fs--56 u-fs-xs--42">すべて解決！</span>

