block vars

footer.l-footer
  .footer
    .u-container
      .footer-inner
        .u-row.mod-space-between
          .u-col--5
            .footer-logo.u-mb--4
              a(href="https://biz.applynow.jp/")
                img(src=path+"assets/img/common/logo.svg" alt="ApplyNow")
            .footer-aside.u-mb-xs--5
              p.u-mb--4.u-mb-xs--3 <span class="u-fs-xs--12">住所</span><br>東京都渋谷区渋谷1-17-2 12F
              p <span class="u-fs-xs--12">電話番号</span><br>0120-389-339

          .u-col--5.u-visible-xs
            nav.footer-nav
              ul.footer-nav_list
                li.footer-nav_item
                  a(href="#about") 電子契約サービスとは
                li.footer-nav_item
                  a(href="#func") 機能紹介
              ul.footer-nav_list
                li.footer-nav_item
                  a(href="#merits") 導入メリット
                li.footer-nav_item
                  a(href="#secure") セキュリティについて
              ul.footer-nav_list
                li.footer-nav_item
                  a(href="#faq") よくある質問

          .u-col--6
            nav.footer-sitemap
              ul.footer-sitemap-list.u-row
                li.footer-sitemap-item.u-col--4.u-col-xs--6
                  a(href="https://opencloud.co.jp/") 運用会社
                li.footer-sitemap-item.u-col--4.u-col-xs--6
                  a(href="https://biz.applynow.jp/terms-for-company/") 利用規約（法人のお客様）
                li.footer-sitemap-item.u-col--4.u-col-xs--6
                  a(href="https://biz.applynow.jp/terms-for-person/") 利用規約（個人のお客様）
                li.footer-sitemap-item.u-col--4.u-col-xs--6
                  a(href="https://opencloud.co.jp/privacy/") プライバシーポリシー
            .footer-license.u-mb--5
              img(src=path+"assets/img/common/license.png")

            p.footer-copy &copy; 2019 株式会社オープンクラウド (Opencloud, Inc. )
